div #background{ background-image: url(../MY-PORTFOLIO/images/full-min.png);
    width: 500px;height: 500px;background-position: center;background-size: cover;
    background-repeat: no-repeat;

}
p{background-color: aqua;}